.main
{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img
{
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.main-container
{
    max-width: 900px;
    margin: auto;
}

.main .greet
{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 600;
    padding: 20px;
}
.cards
{
    display: flex;
    margin: 40px 30px;
    gap: 20px;
    
}
.card
{
    width: 200px;
    margin: 30px;
}